
section.cards-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 80px;
    flex-wrap: wrap;
}

section.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsla(0,0%,100%,.8);
    width: 260px;
    height: 750px;
    padding: 30px;
    box-shadow: var(--card-shadow);
    border-radius: 10px;
}

section.card span, h2, ul {
    font-weight: 300;
    align-self: flex-start;
    color: rgb(44, 44, 44);
}

section.card > ul > div {
    display: flex;
    gap: 25px;
}

div.div-li-icon {
    margin-bottom: 20px;
}

[cardImg="esteticaWidth"] {
    width: 250px;
    height: 354.36px;   
}

[cardImg="portfolioWidth"] {
    width: 250px;
    height: 387.75px;
}

[cardimg="calculoImcWidth"] {
    width: 250px;
    height: 411.58px;
}

[cardimg] {
    border-radius: 10px;
    box-shadow: var(--photo-shadow);
    margin-bottom: 25px;
}

@media (min-width: 650px){
    section.card {
        width: 450px;
    }

    section.cards-body {
        flex-direction: row;
        justify-content: center;
    }
}