section.form, section.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
}

input, textarea {
    width: 250px;
}

input {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
}

textarea {
    max-width: 500px;
    border-radius: 6px;
}

input {
    height: 30px;
    margin-bottom: 60px;
    color: #fff;
}

input:focus, textarea:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 90, 255);
}

input::placeholder {
    color: rgb(180, 180, 180);
}

input.inputSubmit {
    background: rgb(0, 90, 255);
    border: none;
    border-radius: 8px;
    margin: 20px 0;
    cursor: pointer;
}

span.errorRequired {
    color: red;
    margin-bottom: 50px;
}

span.successful {
    color: rgb(3, 197, 3);
}

div.error {
    min-height: 50px;
}

@media (min-width: 900px) {
    input, textarea {
        width: 500px;
    }
}

footer.footer span {
    align-self: center;
    font-weight: 300;
    font-size: 14px;
}

footer.footer span > a{
    color: rgb(0, 132, 255);
}